<div class="card-container">

  <p-card header="Users">
    User Table placeholder
  </p-card>
  <p-card header="Users">
    User Table placeholder
  </p-card>
  <p-card header="Users">
    User Table placeholder
  </p-card>
  <p-card header="Users">
    User Table placeholder
  </p-card>
  <p-card header="Users">
    User Table placeholder
  </p-card>

  <p-card header="Users">
    User Table placeholder
  </p-card>
  <p-card header="Users">
    User Table placeholder
  </p-card>
  <p-card header="Users">
    User Table placeholder
  </p-card>
  <p-card header="Users">
    User Table placeholder
  </p-card>
  <p-card header="Users">
    User Table placeholder
  </p-card>


</div>
