$color-a: var(--surface-a);
$color-b: var(--surface-b);
$color-c: var(--surface-c);
$color-d: var(--surface-d);
$color-e: var(--surface-e);
$color-f: var(--surface-f);
$text-color: var(--text-color);
$text-color-secondary: var(--text-color-secondary);
$primary-color: var(--primary-color);
$primary-color-text: var(--primary-color-text);
