.dash-footer {
  position: sticky;
  bottom: 0;
  font-family: Roboto;
  background-color: var(--surface-a);
  color: var(--text-color);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
  border-top: 1px solid rgba(211, 211, 211, 0.2);
  height: 3em;
  p {
    margin: 0;
    font-size: 0.9em;
    padding: 1em 1.5em 0em 0em;
    text-align: end;
    a {
      text-decoration: none;
      font-size: 1em;
      color: dodgerblue;
    }
    a:hover {
      text-decoration: underline;
    }
  }
}
