.sidebar-wrapper {
  position: relative;
  font-family: Roboto;
  min-height: 100vh;
  width: 260px;
  z-index: 3;
}

.side-title {
  border-bottom: 1px solid rgba(233, 233, 233, 0.2);
  padding: 1em 1.5em;
  height: 3em;
  span {
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
    color: #ffffff;
  }
}

.nav {
  margin-top: 20px;
  padding: 0px;
  li {
    > a {
      color: #ffffff;
      opacity: 0.83;
      border-radius: 5px;
      display: block;
      margin: 5px 15px;
      padding: 10px 15px;
      text-decoration: none;
      > p {
        color: white;
        font-size: 0.95em;
        font-weight: 400;
        margin: 0;
        line-height: 30px;
        text-transform: uppercase;
        margin-left: 15px;
        text-align: left;
      }
      > i {
        font-size: 1.5em;
        float: left;
        line-height: 30px;
        width: 30px;
        text-align: center;
        color: white;
        margin-right: 15px;
      }
    }

    &:hover > a {
      background: rgba(255, 255, 255, 0.13);
      opacity: 1;
    }

    &.active > a {
      color: #ffffff;
      opacity: 1;
      background: rgba(255, 255, 255, 0.23);
    }
  }
}
