.header-container {
  background-color: var(--surface-a);
  color: var(--text-color);
  height: 3em;
  margin: 0px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  width: 100%;
}
.header-placeholder {
  font-size: 2em;
  text-transform: capitalize;
  padding: 0em 0em 0em 1.5em;
  font-family: Roboto;
}
