.sidebar {
  height: 100vh;
  min-height: 100vh;
  position: fixed;
  z-index: 6;
  top: 0;
  bottom: 0;
  left: 0;
  width: 260px;
  display: block;
  background: linear-gradient(
    0deg,
    rgb(42, 21, 87) 0%,
    rgb(15, 59, 180) 33%,
    rgb(0, 110, 255) 100%
  );

  background-size: cover;
  background-position: center center;

  .sidebar-background {
    background-image: url("../../assets/img/sidebar-bg.jpg");
    z-index: 3;
    width: 100%;
    height: 100%;
    display: block;
    opacity: 0.33;

    position: absolute;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center center;
  }

  &:after,
  &:before {
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }

  &:before {
    opacity: 0.1;
    background-color: rgb(18, 18, 27);
  }
}

.main-panel {
  margin-left: 260px;
}
