.dashboard-wrapper {
  display: flex;
  height: 100vh;
  min-width: 540px;
}

.main-panel {
  max-height: 100vh;
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: auto;
}
.main-p-router {
  flex-basis: 100%;
  padding-top: 2em;
  padding-bottom: 2em;
}
.main-p-header {
  position: sticky;
  z-index: 3;
  top: 0;
  width: 100%;
}

.sidebar {
  height: 100vh;
  z-index: 2;
  flex-basis: 260px;
  background: linear-gradient(
    0deg,
    rgb(42, 21, 87) 0%,
    rgb(15, 59, 180) 33%,
    rgb(0, 110, 255) 100%
  );

  .sidebar-background {
    background-image: url("../../assets/img/sidebar-bg.jpg");
    z-index: 1;
    width: 260px;
    height: 100vh;
    opacity: 0.33;
    position: absolute;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: left center;
  }
}

@media all and (max-width: 1049px) {
  .sidebar {
    display: none;
  }
}
