:root {
  background-color: rgb(235, 235, 243);
}

html {
  font-size: 14px;
}

body {
  margin: 0;
}

p-inputMask {
  input.p-inputmask.p-inputtext {
    font-size: 1em;
  }
}

.p-sidebar {
  &.p-sidebar-active {
    &.p-sidebar-left {
      padding: 0 !important;
      width: 260px !important;
    }
  }
  .p-sidebar-close {
    color: white !important;
  }
}
